################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vessel/x64/Debug
/.vs/vessel/v15
/Vtk-8.2.0
/x64/Debug
